@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap";

:root {
    --color-rocket: #121214;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: #121214;
    font-family: 'Roboto', sans-serif;
    
}
header{
    text-align: center;
    padding: 32px;
    background-color: rgb(20, 20, 20) ;
}
.links {
    text-align: center;

}
.links a {
    color:white;
    font-size: 18px;
    line-height: 30px;
    margin: 0 20px;
    text-decoration: none;
}
.links a:hover {
    color:#b53cff; 
    transition: 200ms;
}

#wrapper img {
    width: 200px;
    border-radius: 50%;
    border: 2px solid rgb(rgb(186, 9, 221));
    margin-top: 32px;
    
}

#wrapper h1 {
    color: white;
    opacity: 0.8;
    font-weight: normal;
        
}

#wrapper p {
    max-width: 500px;
    margin: 25px auto;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: white;
  
}

#wrapper li {
    margin: 20px;
    color: white;
}

#links-footer a {
    border-bottom: 1px solid var(--color-rocket);
}

/*======conteúdo======*/

.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    cursor: pointer;
     
}

.card {
    background-color: #0a0a0a;
    color: white;
    border-radius: 30px;

}
.card__image-container img {
    width: 100%;

}
.card__content,
.card__info {
    padding: 24px;

}
.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card__price {
    background-color: var(--color-rocket);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

#title h1 {
    color: var(--color-rocket);
    opacity: 0.8;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
}

/*=====modal=====*/
.modal-overlay {
    background-color: rgb(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    opacity: 0;
    visibility: hidden;
       
}
.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}
.modal .modal-close {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;   
}
.modal .modal-maximize {
    color: black;
    position: absolute;
    right: 40px;
    top: 8px;
    cursor: pointer;
    margin: 0;
}

.material-icons {
    padding: 5px;
}
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}
.modal-overlay.open_in_full .modal{
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 10%;
}